footer{
    width: 100%;
    height:90px  ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002e62;
    font-weight: 400;
    color: #ffff;


}
footer h2{
    margin-top: 2%;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(255, 0, 0);
    
}
footer span{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    position: relative;
    left: 40px;
}
